<h1>Listing trips</h1>

<table>
  <tr>
    <th>Car driver</th>
    <th>Destination</th>
    <th>Departure time</th>
    <th>Back time</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.car_driver_id %></td>
    <td><%= trip.destination_id %></td>
    <td><%= trip.departure_time %></td>
    <td><%= trip.back_time %></td>
    <td><%= trip.note %></td>
    <td><%= link_to 'Show', trip %></td>
    <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
    <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trip', new_trip_path %>
