<p id="notice"><%= notice %></p>

<p>
  <b>Car driver:</b>
  <%= @trip.car_driver_id %>
</p>

<p>
  <b>Destination:</b>
  <%= @trip.destination_id %>
</p>

<p>
  <b>Departure time:</b>
  <%= @trip.departure_time %>
</p>

<p>
  <b>Back time:</b>
  <%= @trip.back_time %>
</p>

<p>
  <b>Note:</b>
  <%= @trip.note %>
</p>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
