<% provide(:title, '出差管理') %>

<div class="content span9" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="row">
    <div class="span9">
      <h4>出差管理 </h4>
    </div>
  </div>
  <div class="row">
    <div class="span1">
      <a href="/admins/trips" class="btn btn-mini">«返回</a>
    </div>
    <div id="title" class="span8">出差信息更改</div>
  </div>
  <div class="row">
    <div class="span9">
      <form class="form-horizontal">

        <div class="control-group">
          <label class="control-label" for="inputEmail">车辆</label>

          <div class="controls">
            <div class="chosen">
              <%= collection_select(:drivership, :car_id, Car.all, :id, :model_plate, {:include_blank => true},
                                    {:class => "chzn-select-deselect", :id => "chzn-car-select",
                                     :'data-placeholder' => "请选择车辆..."}) %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">司机</label>

          <div class="controls">
            <div class="chosen">

              <%= collection_select(:drivership, :driver_id, Driver.all, :id, :name, {:include_blank => true},
                                    {:class => "chzn-select-deselect", :id => "chzn-driver-select",
                                     :'data-placeholder' => "请选择司机..."}) %>


            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">工作班组</label>

          <div class="controls">
            <div class="chosen">
              <%= collection_select(:trip, :note_id, Note.all, :id, :name, {:include_blank => true},
                                    {:class => "chzn-select-deselect", :id => "chzn-group-select",
                                     :'data-placeholder' => "请选择工作班组..."}) %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">工作人员(多选)</label>

          <div class="controls">
            <div class="chosen">
              <select data-placeholder="请选择工作人员..." class="chzn-select" multiple id="chzn-worker-select" tabindex="40">
                <option value=""></option>
                <option>刘军农</option>
                <option>杨润根</option>
                <option>张敏</option>
                <option>二次四班</option>
                <option>开关一班</option>
                <option>开关二班</option>
                <option>开关三班</option>
                <option>开关四班</option>
                <option>变压器班</option>
              </select>
            </div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">出差地</label>

          <div class="controls">
            <div class="chosen">
              <%= collection_select(:trip, :destination_id, Destination.all, :id, :name, {:include_blank => true},
                                    {:class => "chzn-select-deselect", :id => "chzn-destination-select",
                                     :'data-placeholder' => "请选择出差地..."}) %>
              </select>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputPassword">出发时间</label>

          <div class="controls controls-row">
            <input class="span4" type="text" id="inputDeparture_time" value="<%= @trip.departure_time %>">
            <i class="icon-calendar span1"></i>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputPassword">归来时间</label>

          <div class="controls controls-row">
            <input class="span4" type="text" id="inputBack_time" value="<%= @trip.back_time %>">
            <i class="icon-calendar span1"></i>
          </div>

        </div>

        <div class="control-group">
          <label class="control-label" for="inputPassword">事由</label>

          <div class="controls">
            <div class="chosen">
              <%= collection_select(:trip, :note_id, Note.all, :id, :name, {:include_blank => true},
                                    {:class => "chzn-select-deselect", :id => "chzn-note-select",
                                    :'data-placeholder' => "请选择出差事由..."}) %>
            </div>
          </div>
        </div>

        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">保存修改</button>
            <a href="/admins/trips" class="btn cancle">取消</a>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

