<%= form_for(@car_driver) do |f| %>
  <% if @car_driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_driver.errors.count, "error") %> prohibited this car_driver from being saved:</h2>

      <ul>
      <% @car_driver.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :car_id %><br />
    <%= f.number_field :car_id %>
  </div>
  <div class="field">
    <%= f.label :driver_id %><br />
    <%= f.number_field :driver_id %>
  </div>
  <div class="field">
    <%= f.label :available %><br />
    <%= f.check_box :available %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
