<p id="notice"><%= notice %></p>

<p>
  <b>Car:</b>
  <%= @car_driver.car_id %>
</p>

<p>
  <b>Driver:</b>
  <%= @car_driver.driver_id %>
</p>

<p>
  <b>Available:</b>
  <%= @car_driver.available %>
</p>


<%= link_to 'Edit', edit_car_driver_path(@car_driver) %> |
<%= link_to 'Back', car_drivers_path %>
