<div class="head">
  <%= image_tag "logo.jpeg", class: "logo" %>
  <div class="login">
    <ul>
      <li><%= link_to "首页", root_path %></li>
      <% if signed_in? %>
          <li><%= link_to current_user.name, current_user %></li>
          <li><%= link_to "注销", signout_path, method: "delete" %></li>
      <% else %>
          <li><%= link_to "登陆", signin_path %></li>
      <% end %>
    </ul>
  </div>
</div>
