  <div class="head">
    <%= link_to image_tag("logo.jpeg", alt:"logo"), root_path %>
    <div class="login">
      <%= link_to "首页", root_path %>
<!--      <% if signed_in? %>
        <li><%= link_to current_user.name, current_user %></li>
        <%= link_to "Sign out", signout_path, method: "delete" %>
      <% else %>
        <li><%= link_to "登陆", signin_path %></li>
      <% end %>          -->
    </div>
  </div>
